<div class="form-container">
  <h3 class="text-center">Форма реєстрації</h3>

  <%= form_with model: @user do |form| %>

    <div class="form-group">
      <%= form.text_field :name, class: "input", placeholder: "Ваше ім'я" %>
    </div>

    <div class="form-group">
      <%= form.text_field :email, class: "input", placeholder: "Ваш e-mail" %>
    </div>

    <div class="form-group">
      <%= form.text_field :phone_number, class: "input", placeholder: "Ваш телефон" %>
    </div>

    <div class="form-group">
      <%= form.text_field :password, class: "form-control item", minlength: 6, placeholder: "Пароль" %>
    </div>

    <div class="form-group">
      <%= form.password_field :password_confirmation, class: "input", placeholder: "Пароль ще раз" %>
    </div>

    <div class="form-group">
      <%= form.submit "Реєстрація", class: "btn" %>
    </div>
  <% end %>
</div>